################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/Clara.API/appsettings.Development.json
src/Clara.API/.vs/
src/Clara.API/.vscode/
src/Clara.API/bin/
src/Clara.API/obj/


/src/Clara.API/Properties/PublishProfiles/clara-agent - Web Deploy.pubxml
/src/Clara.API/Properties/ServiceDependencies/clara-agent - Web Deploy/profile.arm.json
